<!-- Wakatime ( Replace with your own wakatime embed config at https://wakatime.com )-->

<!-- Languages  -->
<!-- <figure><embed src="https://wakatime.com/share/@sujaykundu777/e4c2a44e-390d-41f3-a4c8-b23b05fbec30.svg"></embed></figure> -->
<figure></figure><embed src="https://wakatime.com/share/@5b2772f9-6f37-4c22-bd13-b6ba4c23e2ee/a64be7b2-e765-476b-8d7b-ff9707c7ad46.svg"></embed>

<!-- Hours Coded -->
<figure>
    <!-- <embed src="https://wakatime.com/share/@sujaykundu777/5fcfa63e-9357-44d1-9a49-5244504a1f13.svg"></embed> -->
    <embed src="https://wakatime.com/share/@5b2772f9-6f37-4c22-bd13-b6ba4c23e2ee/b921a54e-7991-4991-8c4e-60c90b571f09.svg"></embed>
</figure>